$image-card-background-color: #f7f7f9;
$image-card-border-color: #1C7C9C;
$footer-background-color: #f7f7f9;
$footer-company-motto-color: #8d9093;
$footer-company-name-color: #8f9296;
$footer-links-color: #1C7C9C;
