<div class="modal fade" id="share_image_modal" tabindex="-1" role="dialog" aria-labelledby="share_image_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="share_image_modal_label">Share This Image</h4>
      </div>
      <%= render partial: 'share_form', object: share_form, locals: { image: image } %>
    </div>
  </div>
</div>
