<h1 class="text-xs-center">Images Homepage</h1>  


<div id="images_list" class="row flex-items-xs-center hover-container">
  <% @image_list.each do |img| %> 
    <div class="js-image-card-container col-lg-4 col-md-6 col-sm-12" data-image-id="<%= img.id %>">
      <%= render 'image_card', image: img %>
    </div>
   <% end %> 
</div>

<%= render 'share_modal', share_form: ShareForm.new, image: nil %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'images/index/index' %>
<% end %>
