<h1> Images Homepage </h1>  

<div class="card-group">
  <% @image_list.each do |img| %> 
    <%= render 'image_card', image: img %>
   <% end %> 
</div>
  <%= link_to 'Add New Image', new_image_path %>
