<div class="row flex-items-xs-center">
  <div class="js-image-card-container col-sm-6 column">
    <%= render 'image_card', image: @image %>
  </div>
</div>

<%= render 'share_modal', share_form: ShareForm.new, image: @image %>
