<h2 class="footer__company-motto">Image-Tiles</h2>

<p class="footer__links">
  <%= link_to 'Home', root_path %>
  <%= link_to 'New Image', new_image_path if logged_in? %>
</p>

<p class="footer-company__name">Appfolio &copy; 2016</p>
