<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <%= link_to 'Image-Tiles', root_path, class: 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <%= nav_item 'All Images', root_path, class: 'nav-link' %>
    <%= nav_item 'New Image', new_image_path, class: 'nav-link' %>
  </ul>
</nav>
