<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <%= link_to 'Image-Tiles', images_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <%= nav_item 'All Images', images_path, class: 'nav-link' %>
      <%= nav_item 'New Image', new_image_path, class: 'nav-link' %>
    </ul>
  </div>
</nav>
